.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

.header .foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.header .title {
    text-align: center;
    font-family: 'Neue Machina', sans-serif;
}
